* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #222;
  padding: 0;
  height: 100vh;
}

.theme-options {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;
  div {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 2px 10px;
    border: 1px solid #fff;
    display: inline-block;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
  #theme-blue {
    background-color: hsl(240, 53%, 49%);
  }
  #theme-green {
    background-color: hsl(154, 53%, 49%);
  }
  #theme-orange {
    background-color: hsl(25, 53%, 49%);
  }
}
